<!-- Page header with dropdown aligned right -->
<!-- Usually put after container and before row -->
<!-- Page header -->
<div class="page-header">
    <div class='btn-toolbar pull-right'>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Recently Added <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <h2>Discover music on Smoothtraxx</h2>
</div>
<!-- Page header -->
