<!--Jumbotron shown in all but small devices-->
<div class="container hidden-xs">
    <div class="jumbotron">
        <h1>Navbar example</h1>

        <p>To see the difference between static and fixed top navbars, just scroll.</p>

        <p><a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
    </div>
</div> <!-- /container -->

<!--Jumbotron shown in small devices-->
<div class="jumbotron halfotron visible-xs">
    <div class="container">
        <h1>Navbar example</h1>

        <p>To see the difference between static and fixed top navbars, just scroll.</p>

        <p><a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
    </div>
</div> <!-- /jumbotron -->

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <!--Discover-->
        <div class="col-md-6">
            <h4><a><i class="fa fa-music"></i> Discover music on Smoothtraxx</a></h4>

            <div class="list-group list-tracks">
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="/#!/tracks/55152fc937a239a149385695">
                                <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right hidden-xs" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>
                                </button>
                                <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                                </button>
                                <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x"> 123</i>
                                </button>
                            </div>
                            <strong>A very long track title goes here</strong> <br/>
                            And the also large artist name here<br/>
                            <small style="color:grey;">on Sandman Records, Deep House</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="pull-right hidden-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x"> 123</i>
                            </button>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <strong>A very long track title goes here</strong> <br/>
                            And the also large artist name here<br/>
                            <small style="color:grey;">on Sandman Records, Soulful House</small>
                        </div>
                    </div>
                </div>
            </div>
            <!--./list-group-->
        </div>
        <!--Discover-->
        <!--Radio-->
        <div class="col-md-6">
            <h4><a><i class="fa fa-bullhorn"></i> Now playing on radio</a></h4>

            <div class="list-group list-tracks">
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="/#!/tracks/55152fc937a239a149385695">
                                <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right hidden-xs" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                                </button>
                                <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x"> 123</i>
                                </button>
                                <!--<button type="button" class="btn btn-default"><i class="fa fa-bullhorn fa-1x"> Tune in</i></button>-->
                            </div>
                            <strong>A very long track title goes here</strong> <br/>
                            And the also large artist name here<br/>
                            <small style="color:grey;">now playing on Soulful House channel</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="pull-right hidden-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x"> 123</i>
                            </button>
                            <!--<button type="button" class="btn btn-default"><i class="fa fa-bullhorn fa-1x"> Tune in</i></button>-->
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <strong>A very long track title goes here</strong> <br/>
                            And the also large artist name here<br/>
                            <small style="color:grey;">now playing on Deep House channel</small>
                        </div>
                    </div>
                </div>
            </div>
            <!--./list-group-->
        </div>
        <!--New tracks-->
    </div>

</div> <!-- /container -->


<!--<div class="container special">-->
<!--<div class="jumbotron">One</div>-->
<!--<hr>-->
<!--<div class="jumbotron">Two</div>-->
<!--<hr>-->
<!--<div class="jumbotron">Three</div>-->
<!--</div>-->

<!--Jumbotron shown in all but small devices-->
<div class="container hidden-xs">
    <div class="jumbotron">
        <h1>Navbar example</h1>

        <p>To see the difference between static and fixed top navbars, just scroll.</p>

        <p><a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
    </div>
</div> <!-- /container -->

<!--Jumbotron shown in small devices-->
<!--<div class="special">-->
<div class="jumbotron halfotron visible-xs">
    <div class="container">
        <h1>Navbar example</h1>

        <p>To see the difference between static and fixed top navbars, just scroll.</p>

        <p><a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar
            docs &raquo;</a>
        </p>
    </div>
</div>

