<div data-ng-controller="LibraryController" data-ng-init="find()" class="container-fluid">

    <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
        <div class="col-xs-12">
            <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
            </alert>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="jumbotron">
                <h1>62</h1>

                <p>new tracks added the last <strong>2</strong> days</p>

                <p><a class="btn btn-primary btn-lg" href="#" role="button">Play them all <i
                        class="fa fa-play fa-fw"></i></a></p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="jumbotron">
                <h1>60</h1>

                <p>top tracks from <strong>8</strong> house genres</p>

                <p><a class="btn btn-primary btn-lg" href="#" role="button">Play them all <i
                        class="fa fa-play fa-fw"></i></a></p>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="page-header">
            <h4>Music<small> isn't it all about?</small></h4>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Radio</h3>
                </div>
                <div class="panel-body">

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://lorempixel.com/100/100" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Soulful</h4>
                            Listen to your favorite soulful house artists like <a>Louie Vega</a>, <a>Souldynamic</a>,
                            <a>Kings of Tomorrow</a> and more...
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://lorempixel.com/100/100" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Deep</h4>
                            You wanna go deeper? Listen to <a>Husky</a>, <a>Sebb Aston</a>, <a>G-Spice</a> and more...
                        </div>
                    </div>

                </div>
                <div class="panel-footer">Want more radios? Click <a>here</a></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Radio</h3>
                </div>


                    <div class="list-group">
                        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item">Morbi leo risus</a>
                    </div>


                <div class="panel-footer">Want more radios? Click <a>here</a></div>
            </div>
        </div>

        <!--Thumbnails-->
        <!--<div class="col-sm-6 col-md-4">-->
            <!--<div class="thumbnail">-->
                <!--<img src="http://lorempixel.com/500/300" alt="...">-->

                <!--<div class="caption">-->
                    <!--<h3>New tracks</h3>-->
                    <!--&lt;!&ndash;<p>...</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-6 col-md-4">-->
            <!--<div class="thumbnail">-->
                <!--<img src="http://lorempixel.com/500/300" alt="...">-->

                <!--<div class="caption">-->
                    <!--<h3>Top tracks</h3>-->
                    <!--&lt;!&ndash;<p>...</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


    </div>

    <!--style="background-image:url('http://lorempixel.com/150/150')"-->

    <div class="row">
        <div class="page-header">
            <h4>Your music<small> is here</small></h4>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Soulful tracks</h3>
                </div>
                <div class="panel-body">

                    <div track-card data-ng-repeat="track in tracks" class="col-md-12 col-sm-12 col-xs-12"></div>

                </div>
                <div class="panel-footer">Want more radios? Click <a>here</a></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Top lists</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Top Deep House
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        New Tech House
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Top Soulful House
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Top Jacking House
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        New Afro House
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        New DJ Tools
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Top Disco House
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Favorites</h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <img class="img-rounded" src="http://lorempixel.com/30/30" alt="...">
                        R.e.d. - How 2 Luv Again (Original Mix)
                    </li>
                    <li class="list-group-item">
                        <img class="img-rounded" src="http://lorempixel.com/30/30" alt="...">
                        Death On The Balcony - Addict For Your Love
                    </li>
                    <li class="list-group-item">
                        <img class="img-rounded" src="http://lorempixel.com/30/30" alt="...">
                        Matpat - Only You
                    </li>
                    <li class="list-group-item">
                        <img class="img-rounded" src="http://lorempixel.com/30/30" alt="...">
                        4 Da People - NYC Calling (Remastered)
                    </li>
                    <li class="list-group-item">
                        <img class="img-rounded" src="http://lorempixel.com/30/30" alt="...">
                        Deeplomatik - Don't Stop (Original Mix)
                    </li>
                    <li class="list-group-item">
                        <img class="img-rounded" src="http://lorempixel.com/30/30" alt="...">
                        Mobi Dixon - Wezintsizwa (Reprise)
                    </li>
                    <li class="list-group-item">
                        <img class="img-rounded" src="http://lorempixel.com/30/30" alt="...">
                        Muddyloop - Sentimental (Joeblack Remix)
                    </li>

                </ul>
            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="title">80</div>
                    <div class="comment">Users</div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon red pull-left">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="title">16</div>
                    <div class="comment">Servers</div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="title">225</div>
                    <div class="comment">Documents</div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon blue pull-left">
                        <i class="fa fa-support"></i>
                    </div>
                    <div class="title">62</div>
                    <div class="comment">Tickets</div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Servers">
                    <a href="#">Manage</a>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>RDVMPC001</td>
                                <td>238.103.133.37</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDVMPC002</td>
                                <td>68.66.63.170</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDVMPC003</td>
                                <td>76.117.212.33</td>
                                <td><span tooltip="Server Down!" class="text-danger"><i
                                        class="fa fa-warning"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDPHPC001</td>
                                <td>91.88.224.5</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDESX001</td>
                                <td>197.188.15.93</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDESX002</td>
                                <td>168.85.154.251</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDESX003</td>
                                <td>209.25.191.61</td>
                                <td><span tooltip="Server Down!" class="text-danger"><i
                                        class="fa fa-warning"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDESX004</td>
                                <td>252.37.192.235</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDTerminal01</td>
                                <td>139.71.18.207</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td>RDTerminal02</td>
                                <td>136.80.122.212</td>
                                <td><span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDDomainCont01</td>
                                <td>196.80.245.33</td>
                                <td><span class="text-success"><i class="fa fa-check"></i></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="fa-users" title="Users">
                    <input type="text" placeholder="Search" class="form-control input-sm"/>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Account</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>Joe Bloggs</td>
                                <td>Super Admin</td>
                                <td>AZ23045</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td>Timothy Hernandez</td>
                                <td>Admin</td>
                                <td>AU24783</td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td>Joe Bickham</td>
                                <td>User</td>
                                <td>AM23781</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
                <rd-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="fa-plus" title="Extras">
                    <button class="btn btn-sm btn-info">Button</button>
                </rd-widget-header>
                <rd-widget-body>
                    <div class="message">
                        This is a standard message which will also work the ".no-padding" class, I can also <span
                            class="error">be an error message!</span>
                    </div>
                    <hr/>
                    <div class="message">
                        <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included,
                        so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native
                        Bootstrap JS components!
                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
                    <a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
                </rd-widget-header>
                <rd-widget-body>
                    <rd-loading></rd-loading>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

</div>
