<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="media">
            <div class="media-left">
                <a href="/#!/tracks/55152fc937a239a149385695">
                    <img class="media-object" src="http://lorempixel.com/40/40" alt="...">
                </a>
            </div>
            <div class="media-body">
                <div class="pull-right">
                    <!--<i class="icon ion-star xxlarge"></i>-->
                    <!--<i class="icon ion-heart xxlarge">123</i>-->
                    <!--<i class="icon ion-android-share-alt xxlarge"></i>-->
                    <!--<i class="icon ion-skip-backward xxlarge"></i>-->
                    <i class="icon ion-play xxlarge"></i>
                    <i class="icon ion-skip-forward xxlarge"></i>
                </div>
                <!--<div class="pull-right hidden-xs" role="group" aria-label="...">-->
                <!--<button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i></button>-->
                <!--<button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i></button>-->
                <!--<button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x"> 123</i></button>-->
                <!--</div>-->
                <strong>A very long track title goes here</strong> <br/>
                And the also large artist name here<br/>
            </div>
        </div>
    </div>
</div>

<!--<div data-ng-controller="PlayerController as controller" id="player">-->
    <!--<div class="row header" >-->
        <!--<div class="col-xs-12">-->
            <!--&lt;!&ndash;<div class="player-controls pull-right">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#"><i class="fa fa-backward fa-2x"></i></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#"><i class="fa fa-play fa-2x"></i></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#"><i class="fa fa-forward fa-2x"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="player-cover pull-left">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#"><img src="modules/core/img/avatar.jpg"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="meta">-->
                <!--<div class="page">-->
                    <!--Dashboard-->
                <!--</div>-->
                <!--<div class="breadcrumb-links">-->
                    <!--Home / Dashboard-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--<videogular vg-player-ready="controller.onPlayerReady($API)">-->
        <!--<vg-media vg-src="controller.config.sources" vg-type="audio">-->
        <!--</vg-media>-->
    <!--</videogular>-->

    <!--</div>-->
<!--</div>-->
