<div class="container">

    <!-- Page header -->
    <!--<div class="page-header hidden-xs">-->
    <h4>Now playing on Smoothtraxx radio</h4>
    <!--</div>-->
    <!-- Page header -->

    <div class="row">
        <div class="col-md-9">
            <div class="list-group list-tracks">
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="/#!/radio/soulful">
                                <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right hidden-xs" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-share-square-o fa-1x"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-bullhorn fa-1x"> Tune in</i></button>
                            </div>
                            <strong>A very long track title goes here</strong> <br/>
                            And the also large artist name here<br/>
                            <small style="color:grey;">now playing on Soulful House channel</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="media">
                        <div class="pull-right hidden-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"><i class="fa fa-share-square-o fa-1x"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-bullhorn fa-1x"> Tune in</i></button>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <strong>A very long track title goes here</strong> <br/>
                            And the also large artist name here<br/>
                            <small style="color:grey;">now playing on Deep House channel</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
