<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                Groovity
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
            <a href="/#!/">Home <span class="menu-icon fa fa-home"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/#!/library">Library <span class="menu-icon fa fa-database"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/#!/radios">Radio <span class="menu-icon fa fa-rss"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/tables">Browse <span class="menu-icon fa fa-music"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/tables">Favorites <span class="menu-icon fa fa-heart"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular" target="_blank">
                Github
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
                About
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                Support
            </a>
        </div>
    </div>
</div>
