@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.row.header .player-controls {
    margin-top: 15px;
}
.row.header .player-controls a{
    margin-left: 10px;
}
.row.header .player-cover img {
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    width: 40px;
    height: 40px;
}

.container h4 {
    color: grey;
    margin-bottom: 20px;
}

/* List groups */
.list-tracks .list-group-item{
    /*border: 0 !important;*/
    border-left: 0 !important;
    border-right: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;
}

.list-tracks .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0 !important;
}

.list-tracks .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* /List groups */


/*  CSS for sticky search input as seen here:
 ** http://www.mentful.com/2014/06/22/fixed-search-navbar-with-bootstrap-3-0/
 */
@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}

@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}

.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* /Sticky search input */


.jumbotron {
    position: relative;
    /*width: 100%;*/
    /*height: 100%;*/
    overflow: hidden;
    color: white;
    text-shadow: #444 0 1px 1px;
    padding-left: 30px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron-xs {
    position: relative;
    background: #000 center center no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    text-shadow: #444 0 1px 1px;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    margin-bottom: 20px;
    /*margin-top: 0 !important;*/
}

i.track-play.ion-play {
    font-size: 40px;
}

.xxlarge {
    font-size: xx-large;
}

.navbar-fixed-bottom .media {
    padding-top: 5px;
}

.navbar-fixed-bottom .media-body i {
    padding-left: 10px;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-top: -10px;
}

.jumbotron .btn-toolbar {
    padding-top: 180px;
}

.custom-navbar {
    background-image: none;
    background-color: white;
    border-color: white;
}

@media (max-width:767px) {
    .custom-navbar .navbar-right {
        float: right;
        padding-right: 15px;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li {
        float: right;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li > a {
        padding:8px 5px;
    }
    .custom-navbar .navbar-toggle {
        float: left
    }
    .custom-navbar .navbar-header {
        float: left;
        width: auto!important;
    }
    .custom-navbar .navbar-collapse {
        clear: both;
        float: none;
    }
}

/* custom dropdown place in the right way */
.navbar-nav #dd {
    display: block;
    padding: 16px 15px;
}

/*custom buttons*/
.btn-basecamp {
    background-image: none;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 0 #ddd;
    -moz-box-shadow: 0 1px 0 #ddd;
    box-shadow: 0 1px 0 #ddd;
}
.btn-basecamp:hover {
    background: #fff;
}
