.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.row.header .player-controls {
    margin-top: 15px;
}
.row.header .player-controls a{
    margin-left: 10px;
}
.row.header .player-cover img {
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    width: 40px;
    height: 40px;
}
/*mine*/
/*.jumbotron {*/
    /*position: relative;*/
    /*background: #000 url("http://lorempixel.com/600/600") center center;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-size: cover;*/
    /*overflow: hidden;*/
    /*color: white;*/
    /*text-shadow: #444 0 1px 1px;*/
/*}*/






/*.jumbotron {*/
    /*/!*padding-top: 200px;*!/*/
    /*/!*padding-bottom: 200px;*!/*/
    /*/!*background-size: 3000% auto;*!/*/
    /*height: 100%;*/
/*}*/

/*.media {*/
    /*padding-top: 10px;*/
    /*padding-bottom: 5px;*/
/*}*/

/*.media-body {*/
    /*border-bottom: 1px solid #ddd;*/
/*}*/

.container h4 {
    color: grey;
    margin-bottom: 20px;
}

/*.media {*/
    /*/!*border-top: 1px solid #ddd;*!/*/
    /*/!*border-bottom: 1px solid #ddd;*!/*/
    /*margin-top: 0px;*/
    /*/!*margin-bottom: 5px;*!/*/
    /*/!*padding-bottom: 5px;*!/*/
/*}*/

/* List groups */
.list-tracks .list-group-item{
    /*border: 0 !important;*/
    border-left: 0 !important;
    border-right: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;
}

.list-tracks .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0 !important;
}

.list-tracks .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* /List groups */

/*  CSS for sticky search input as seen here:
 ** http://www.mentful.com/2014/06/22/fixed-search-navbar-with-bootstrap-3-0/
 */
@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }

    .navbar {
        margin-bottom: 0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* /Sticky search input */

/*/!* Spinkit *!/*/
/*.sk-spinner-pulse.sk-spinner {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*margin: 0 auto;*/
    /*background-color: #333;*/
    /*border-radius: 100%;*/
    /*-webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;*/
    /*animation: sk-pulseScaleOut 1s infinite ease-in-out; }*/
/*@-webkit-keyframes sk-pulseScaleOut {*/
    /*0% {*/
        /*-webkit-transform: scale(0);*/
        /*transform: scale(0); }*/
    /*100% {*/
        /*-webkit-transform: scale(1);*/
        /*transform: scale(1);*/
        /*opacity: 0; } }*/
/*@keyframes sk-pulseScaleOut {*/
    /*0% {*/
        /*-webkit-transform: scale(0);*/
        /*transform: scale(0); }*/
    /*100% {*/
        /*-webkit-transform: scale(1);*/
        /*transform: scale(1);*/
        /*opacity: 0; } }*/
/* /Spinkit */


.jumbotron {
    position: relative;
    /*width: 100%;*/
    /*height: 100%;*/
    overflow: hidden;
    color: white;
    text-shadow: #444 0 1px 1px;
    padding-left: 30px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron-xs {
    position: relative;
    background: #000 center center no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    text-shadow: #444 0 1px 1px;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    margin-bottom: 20px;
    /*margin-top: 0 !important;*/
}

/* an attempt to use full screen on mobile for tracks, will continue later */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    /*html,body,.ng-scope {height:100%; width:100%;}*/
    /*.ng-scope .trackotron, .ng-scope .container-trackotron { height:100%; }*/
    /*.ng-scope .navbar, .ng-scope .container, #header {height: auto; margin-bottom: 0px;}*/
    /*.ng-scope .jumbotron {background-color:inherit;}*/
    /*.ng-scope .container-special {width:100%;height:100%;max-width:100%;background-position:center;background-size:cover;}*/
    /*.ng-scope .jumbotron,.ng-scope .jumbotron .container, .ng-scope .jumbotron .container-special {height:100%;width:100%;}*/
    /*.halfotron { height: 50%; }*/
}

i.track-play.ion-play {
    font-size: 40px;
}

.xxlarge {
    font-size: xx-large;
}

.navbar-fixed-bottom .media {
    padding-top: 5px;
}

.navbar-fixed-bottom .media-body i {
    padding-left: 10px;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-top: -10px;
}

.jumbotron .btn-toolbar {
    padding-top: 180px;
}

.jumbotron-xs .btn-toolbar {
    /*padding-top: 180px;*/
}
