.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.row.header .player-controls {
    margin-top: 15px;
}
.row.header .player-controls a{
    margin-left: 10px;
}
.row.header .player-cover img {
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    width: 40px;
    height: 40px;
}
/*mine*/
.jumbotron {
    position: relative;
    background: #000 url("http://lorempixel.com/600/600") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
    text-shadow: #444 0 1px 1px;
}

