<section data-ng-controller="ChannelsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Channels</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="channel in channels" data-ng-href="#!/channels/{{channel._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="channel.created | date:'medium'"></span>
				by
				<span data-ng-bind="channel.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="channel.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!channels.$resolved || channels.length">
    	No Channels yet, why don't you <a href="/#!/channels/create">create one</a>?
    </div>
</section>