/*.player-cover {*/
    /*margin: 0 10px 0 10px;*/
/*}*/



@media(min-width:768px) {

    .player .player-info {
        margin-top: 25%; /*set a media query for this*/
    }

    .player .btn-toolbar {
        margin-top: 20px;
    }
}

/*.player-title{*/
    /*font-size: 32px;*/
/*}*/

/*.player-artist {*/
    /*font-size: 24px;*/
    /*font-weight: 700;*/
/*}*/

/*.player-controls ul {*/
    /*list-style-type: none;*/
    /*display: block;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.player-controls ul li {*/
    /*display: inline-block;*/
/*}*/

/*.player-controls ul .backward {*/
    /*margin-left: 20%;*/
    /*position: absolute;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 54%;*/
    /*/!*padding-top: 24%;*!/*/
/*}*/

/*.player-controls ul .play {*/
    /*width: 15%;*/
    /*margin-left: 45%;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 54%;*/
/*}*/

/*.player-controls ul .forward {*/
    /*margin-left: 15%;*/
    /*position: absolute;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 54%;*/
/*}*/

/*center toolbar http://stackoverflow.com/questions/19040121/unable-to-center-div-on-bootstrap-3*/
.player .btn-toolbar {
    display: inline-block;
    margin-bottom: 50px; /*so the player bar don't hide the buttons*/
}
