<div class="btn-group" dropdown>

    <!-- button style dropdown -->
    <button ng-if="isButton" type="button"
            class="btn btn-primary"
            ng-bind="ngModel.name || default">
    </button>
    <button ng-if="isButton" type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
    </button>

    <!-- no button, plz -->

    <a ng-if="!isButton" href class="dropdown-toggle" dropdown-toggle ng-bind="ngModel.name || default"></a>
    <span ng-if="!isButton" class="caret"></span>

    <!-- dropdown items -->
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="item in items">
            <a href="#"
               ng-bind="item.name"
               ng-click="select(item)"></a>
        </li>
    </ul>

</div>

<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose genre <span class="caret"></span></a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">Action</a></li>-->
<!--<li><a href="#">Another action</a></li>-->
<!--<li><a href="#">Something else here</a></li>-->
<!--<li role="separator" class="divider"></li>-->
<!--<li><a href="#">Separated link</a></li>-->
<!--</ul>-->
<!--</li>-->
