<div class="media">
    <div class="media-left">
        <a href="/#!/tracks/{{track._id}}">
            <!--<img class="media-object" src="http://lorempixel.com/60/60" alt="..." ng-click="openSplash({ title: track.title, artist: track.artist, label: track.publisher })">-->
            <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
        </a>
    </div>
    <div class="media-body">
        <i class="fa fa-ellipsis-v pull-right visible-xs"></i>
        <div class="btn-toolbar pull-right hidden-xs" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-basecamp" data-ng-click="play({ mode: 'all', start_with: track.filename_128, title: track.title, artist: track.artist})"><i class="fa fa-play fa-1x"></i><span class="hidden-xs"> Play</span>
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-basecamp"><i class="fa fa-star-o fa-1x"></i>
                </button>
                <button type="button" class="btn btn-basecamp"><i class="fa fa-share fa-1x"></i>
                </button>
                <button type="button" class="btn btn-basecamp"><i class="fa fa-heart-o fa-1x"></i> 123
                </button>
            </div>
        </div>
        <div class="title"><strong>{{track.title}}</strong></div>
        <div class="artist">{{track.artist}}</div>
        <div class="info"><small style="color:grey;">on {{track.publisher}}, {{track.genre}}<span class="pull-right hidden-xs">6 plays</span></small></div>
    </div>
</div>
