<section data-ng-controller="PlayerController" data-ng-show="showPlayer.show">
        <div id="player" class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="media">
                    <div class="media-left">
                        <a href="/#!/tracks/{{videos[currentVideo].id}}">
                            <img class="media-object" src="http://lorempixel.com/40/40" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="pull-right">
                            <span data-ng-show="API.isBuffering">Loading...</span>
                            <i class="icon ion-play xxlarge" data-ng-click="API.playPause()" data-ng-hide="API.currentState === 'play' || API.isBuffering"></i>
                            <i class="icon ion-pause xxlarge" data-ng-click="API.playPause()" data-ng-show="API.currentState === 'play' && !API.isBuffering"></i>
                            <i class="icon ion-skip-forward xxlarge" data-ng-click="onCompleteVideo()" data-ng-hide="API.isBuffering"></i>
                        </div>
                        <div class="title"><strong>{{videos[currentVideo].title}}</strong></div>
                        <!--<br/>-->
                        <div class="artist">{{videos[currentVideo].artist}}</div>
                        <!--<br/>-->
                    </div>
                </div>
            </div>
        </div>

        <videogular vg-player-ready="onPlayerReady($API)" vg-complete="onCompleteVideo()" class="hidden">
            <vg-media vg-src="config.sources">
            </vg-media>
        </videogular>
</section>

