<section data-ng-controller="TracksController">
<!--<section data-ng-controller="TracksController" data-ng-init="find()">-->

    <div class="container">
        <!-- Page header -->
        <!--<div class="page-header hidden-xs">-->
        <h4>Discover <a>great<span class="caret"></span></a> music</h4>
        <!--</div>-->
        <!-- Page header -->

        <!--Tabs-->
        <div class="row">
            <div class="col-md-9">
                <tabset justified="true">
                <tab ng-repeat="tab in tabs" active="tab.active" select="find()">
                    <tab-heading><i class="fa {{tab.icon}}"></i>{{tab.title}}</tab-heading>
                </tab>
                    <pre>{{active().tracks_category}}</pre>
                    <tabset>
                <!--<tabset justified="true">-->
                    <!--<tab select="find()">-->
                        <!--<tab-heading>-->
                            <!--<i class="fa fa-line-chart"></i> Trending-->
                        <!--</tab-heading>-->
                    <!--</tab>-->
                    <!--<tab select="find()">-->
                        <!--<tab-heading>-->
                            <!--<i class="fa fa-calendar-o"></i> Just Added-->
                        <!--</tab-heading>-->
                    <!--</tab>-->
                    <!--<tab select="find('queue')">-->
                        <!--<tab-heading>-->
                            <!--<i class="fa fa-clock-o"></i> Queue-->
                        <!--</tab-heading>-->
                    <!--</tab>-->
                <!--</tabset>-->
            </div>
        </div>
        <!--Tabs-->


        <div class="row">
            <div class="col-md-9">
                <!--<div infinite-scroll="findMore()" infinite-scroll-disabled="busy" infinite-scroll-distance="0">-->
                    <div class="list-group list-tracks">
                        <div class="list-group-item" data-ng-repeat="track in tracks">
                            <div track-card></div>
                        </div>
                    </div>
                    <div ng-show="busy"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
                    <!--<button class="btn btn-default btn-block" ng-click="findMore()">More...</button>-->
                </div>
            </div>
        </div>
    </div>
</section>


<!--<div ng-app='myApp' ng-controller='DemoController'>-->
<!--<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>-->
<!--<div ng-repeat='item in reddit.items'>-->
<!--<span class='score'>{{item.score}}</span>-->
<!--<span class='title'>-->
<!--<a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>-->
<!--</span>-->
<!--<small>by {{item.author}} - -->
<!--<a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>-->
<!--</small>-->
<!--<div style='clear: both;'></div>-->
<!--</div>-->
<!--<div ng-show='reddit.busy'>Loading data...</div>-->
<!--</div>-->
<!--</div>-->
