<section data-ng-controller="TracksController" data-ng-init="find()">
    <div class="container">

        <!-- Page header -->
        <!--<div class="page-header hidden-xs">-->
        <h4>Discover house music on Smoothtraxx</h4>
        <!--</div>-->
        <!-- Page header -->

        <!--Tabs-->
        <div class="row">
            <div class="col-md-9">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Trending</a></li>
                    <li role="presentation"><a href="#">New</a></li>
                    <!--<li role="presentation" class="pull-right"><a href="#">Play all<span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></li>-->
                    <li role="presentation" class="pull-right"><a href="#"><i class="icon ion-play">All</i></a></li>
                    <li role="presentation" class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Filter <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            ...
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!--Tabs-->

        <div class="row">
            <div class="col-md-9">
                <div class="list-group list-tracks">
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="/#!/tracks/55152fc937a239a149385695">
                                    <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-right hidden-xs" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x">123</i>
                                    </button>
                                </div>
                                <strong>A very long track title goes here</strong> <br/>
                                And the also large artist name here<br/>
                                <small style="color:grey;">on Sandman Records, Deep House</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="/#!/tracks/55152fc937a239a149385695">
                                    <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-right hidden-xs" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x">123</i>
                                    </button>
                                </div>
                                <strong>A very long track title goes here</strong> <br/>
                                And the also large artist name here<br/>
                                <small style="color:grey;">on Sandman Records, Deep House</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
