<section data-ng-controller="TracksController" data-ng-init="findOne()">
    <!--Jumbotron shown in all but small devices-->
    <div class="container container-special hidden-xs">
        <div class="jumbotron"
             ng-style="{'background': 'linear-gradient(135deg, rgb('+colors.palette[0][0]+', '+colors.palette[0][1]+', '+colors.palette[0][2]+') 0%, rgb('+colors.palette[1][0]+', '+colors.palette[1][1]+', '+colors.palette[1][2]+') 100%)'}">
            <img class="pull-right" src="modules/tracks/img/img.jpg" alt="..." color-thief color-thief
                 color-thief-palette="colors.palette" color-thief-dominant="colors.dominantColor"
                 color-thief-palette-count="2">

            <div class="media">
                <div class="media-left">
                    <i class="fa fa-spinner fa-spin" data-ng-show="API.isBuffering"></i>
                    <i class="icon ion-play xxlarge" data-ng-click="API.playPause()"
                       data-ng-hide="API.currentState === 'play'"></i>
                    <i class="icon ion-pause xxlarge" data-ng-click="API.playPause()"
                       data-ng-show="API.currentState === 'play'"></i>
                </div>
                <div class="media-body">
                    <strong>{{track.title}}</strong> <br/>
                    {{track.artist}}<br/>
                    <small style="color:lightgrey;">on {{track.publisher}}, {{track.genre}}</small>
                </div>
            </div>

            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>
                    </button>
                    <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                    </button>
                    <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x">123</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->


    <!--Jumbotron shown in small devices-->
    <div class="jumbotron-xs visible-xs" style="background-image: url('modules/tracks/img/img.jpg');">

        <div class="container">

            <div class="media">
                <div class="media-left">
                    <i class="fa fa-spinner fa-spin" data-ng-show="API.isBuffering"></i>
                    <i class="icon ion-play xxlarge" data-ng-click="API.playPause()"
                       data-ng-hide="API.currentState === 'play'"></i>
                    <i class="icon ion-pause xxlarge" data-ng-click="API.playPause()"
                       data-ng-show="API.currentState === 'play'"></i>
                </div>
                <div class="media-body">
                    <strong>{{track.title}}</strong> <br/>
                    {{track.artist}}<br/>
                    <small style="color:lightgrey;">on {{track.publisher}}, {{track.genre}}</small>
                </div>
            </div>

            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>
                    </button>
                    <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                    </button>
                    <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x">123</i>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- /jumbotron -->


    <div class="container">

        <!--Tabs-->
        <div class="row">
            <div class="col-md-9">
                <tabset justified="true">
                    <tab ng-repeat="tab in viewTabs" active="tab.active" disable="tab.disabled"
                         select="tabCategory = tab.category; tabCallback(tabCategory)">
                        <tab-heading>
                            <i class="fa fa-{{tab.icon}}"></i> {{tab.title}} {{ tab.category === 'artist'? track.artist: track.publisher}}
                        </tab-heading>
                    </tab>
                </tabset>
            </div>
        </div>
        <!--Tabs-->


        <div class="row">
            <div class="col-md-9">
                <div class="list-group list-tracks">
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="/#!/tracks/55152fc937a239a149385695">
                                    <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-right hidden-xs" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x">123</i>
                                    </button>
                                </div>
                                <strong>A very long track title goes here</strong> <br/>
                                And the also large artist name here<br/>
                                <small style="color:grey;">on Sandman Records, Deep House</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="/#!/tracks/55152fc937a239a149385695">
                                    <img class="media-object" src="http://lorempixel.com/60/60" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-right hidden-xs" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x">123</i>
                                    </button>
                                </div>
                                <strong>A very long track title goes here</strong> <br/>
                                And the also large artist name here<br/>
                                <small style="color:grey;">on Sandman Records, Deep House</small>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</section>


<!--<div class="" role="group" aria-label="...">-->
<!--<button type="button" class="btn btn-default"><i class="fa fa-play fa-1x"></i>-->
<!--</button>-->
<!--<a href="/#!/tracks/55152fc937a239a149385695/edit">-->
<!--<button type="button" class="btn btn-default"><i class="fa fa-edit fa-1x"></i>-->
<!--</button>-->
<!--</a>-->
<!--<button type="button" class="btn btn-default"><i class="fa fa-star-o fa-1x"></i>-->
<!--</button>-->
<!--<button type="button" class="btn btn-default"><i class="fa fa-share-alt fa-1x"></i>-->
<!--</button>-->
<!--<button type="button" class="btn btn-default"><i class="fa fa-heart-o fa-1x">123</i>-->
<!--</button>-->
<!--</div>-->
